In [1]:
a = 2

In [2]:
a

2

# Whitespace Formatting

In [5]:
for i in range(1, 3):
    print(i)
    for j in range(1, 3):
        print(j)
        print(i + j)
    print(i)
print("Done looping")

1
1
2
2
3
1
2
1
3
2
4
2
Done looping

we can use backslash to indicate that a statement continues onto the next line although we'll rarely do this. But for clear writing, this can be good.

In [6]:
two_plus_three = 2 + \
                 3

In [7]:
two_plus_three

5

We can use %cpaste in IPython. But it doesn't work well in jupyter.

## Modules

In [11]:
import matplotlib.pyplot as plt

Try not to use from blabla import blabla

## Arithmetic

In [12]:
5/2 # the decimals

2.5

In [13]:
5 // 2 # the double slash means modula

2

## Functions

In [14]:
def double(x):
    """This is the function that you can get the 2x"""
    return x * 2

In [15]:
double(4)

8

Python functions are first-class, which means that we can assign them to variables and pass them into functions just like any other arguments.

In [16]:
def apply_to_one(f):
    """call the function f and assign the value of 1 to it"""
    return f(1)

In [17]:
apply_to_one(double)

2

anonymous function. You can assign lambdas to variabes, although most people will tell you that you should just use def instead

In [23]:
y = apply_to_one(lambda x: x + 4)

In [24]:
y

5

In [25]:
def my_print(message = "my default message"):
    print(message)

In [26]:
my_print('hello')

hello

In [27]:
my_print()

my default message

In [28]:
def subtract(a = 0, b = 0):
    return a - b

In [30]:
subtract(10, 5)

5

In [31]:
subtract(b = -5) # print 5

5

## Strings

In [32]:
single_quoted_string = 'data science' # single quoted == double quoted
double_quoted_string = "data science"

In [36]:
tab_string = '\t' # represent the tab character
print(len(tab_string))

not_tab_string = r'\t' # represent the characters '\' and 't'
print(not_tab_string)

1
\t

In [37]:
multi_line_string = """This is the first line. 
and this is the second line.
and this is the last line""" # this can be used as explaining function

## Exceptions

In [39]:
try: 
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

## Lists

In [41]:
integer_list = [1, 2, 3]
heterogeneous = ['string', 0.1, True]
list_of_lists = [integer_list, heterogeneous, []]

list_length = len(integer_list) # equals 3
list_sum = sum(integer_list) # equals 6
print(list_length)
print(list_sum)

3
6

We can get or set the nth element of a list with square brackets

In [43]:
x = list(range(10)) # is the list [0, 1, ..., 9]
zero = x[0] # equals 0, lists are 0-indexed
one = x[1] # equals 1
nine = x[-1] # equals 9
eight = x[-2] # equals 8
x[0] = -1 # now the list is [-1, 1, ..., 9]

In [44]:
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
0 in [1, 2, 3] #Python has an in operator to check for list membership.

False

It's easy to concatenate lists together:

In [46]:
x = [1, 3, 3]
x.extend([4, 5, 6]) # We generate a new list [1, 2, 3, 4, 5, 6]

If you don't want to modify x, you can use list addition:

In [47]:
x = [1, 2, 3]
y = x + [4, 5, 6] # y will become [1, 2, 3, 4, 5, 6]

We can also append to lists one item:

In [48]:
x = [1, 2, 3]
x.append(0)

In [52]:
y = x[-1] # equals 0
z = len(x) # equals 4

In [54]:
print(y)
print(z)

0
4

It's convenient to unpack the list if you know how many elements they contain.

In [55]:
x, y = [[1, 2], 3] # x = [1, 2], y = 3

In [56]:
print(x)
print(y)

[1, 2]
3

We can also use underscore fo a value we want to throw away.

In [57]:
_, y = [1, 2] # assignment y = 2

## Tuples

Tuples are lists' immutable cousins. You specify a tuple by using parentheses(or nothing) instead of square brackets.

In [59]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4

In [62]:
other_tuple

(3, 4)

In [63]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple because it's immutable")

cannot modify a tuple because it's immutable

Tuples are a convenient way to return multiple values from functions:

In [64]:
def sum_and_product(x, y):
    return (x + y), x * y

In [65]:
sp = sum_and_product(2, 3)

In [66]:
sp

(5, 6)

## Dictionaries

In [67]:
empty_dict = {}

In [68]:
empty_dict2 = dict()

In [2]:
grades = {'Joel': 88, 'Tim' : 95}

In [70]:
grades

{'Joel': 88, 'Tim': 95}

In [71]:
joels_grade = grades["Joel"]

You can check for the existence of a key using in.

In [3]:
joels_has_grade = 'Joel' in grades # True
kate_has_grade = 'Kate' in grades # False

print(joels_has_grade)
print(kate_has_grade)

True
False

You can assign key-pairs using the same square brackets:

In [4]:
grades['tim'] = 99
grades['Kate'] = 100

In [5]:
print(grades)

{'Joel': 88, 'Tim': 95, 'tim': 99, 'Kate': 100}

Besides looking for specific keys, we can look at all of them.

In [6]:
grades_keys = grades.keys() # list of the keys 
grades_values = grades.values() # list of the values
grades_items = grades.items() # list of the items
print(grades_keys)
print(grades_values)
print(grades_items)

dict_keys(['Joel', 'Tim', 'tim', 'Kate'])
dict_values([88, 95, 99, 100])
dict_items([('Joel', 88), ('Tim', 95), ('tim', 99), ('Kate', 100)])

## Counter

In [7]:
from collections import Counter
c = Counter([0, 1, 2, 0])
print(c)

Counter({0: 2, 1: 1, 2: 1})

## Sets

Set is a collection of distinct elements:

In [10]:
s = set() # s is an empty set
s.add(1) # add element 1 to the set s
s.add(2) # add element 2 to the set s
s.add(2) # add element 2 again to the set s

x = len(s) # the card of the set, equals 2(because 2 is already in s)
y = 2 in s # True
z = 3 in s # False

print(x)
print(y)
print(z)

2
True
False

Sets are faster to check the in function than list.

Sets can also be used to find the distinct items in a collection.

In [13]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list) # equals 6
item_set = set(item_list) # {1, 2, 3}
num_distinct_items = len(item_set) # equals 3
distinct_item_list = list(item_set) # [1, 2, 3]

## Control flow

We can perform an action conditionally using if function

In [16]:
if 1 > 2:
    print("1 is greater than 2")
elif 1 > 3:
    print("1 is greater than 3")
else:
    print("they are both false")

they are both false

In [27]:
a = range(19)

In [28]:
b = filter(lambda x: x % 2 == 0, a)

In [29]:
print(list(b))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
parity

'odd'

## Sorting

In [30]:
x = [4, 1, 2, 3]

In [31]:
y = sorted(x) # is [1, 2, 3, 4], x is unchanged

In [32]:
print(x) # original x
print(y) # y = sorted x
x.sort()
print(x) # x has been sorted

[4, 1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

## List comprehensions

In [34]:
even_numbers = [x for x in range(5) if x % 2 == 0]

In [36]:
print(even_numbers)

[0, 2, 4]

In [37]:
squares = [x * x for x in range(5)]
print(squares) # print [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [38]:
even_squares = [x * x for x in even_numbers] 
print(even_squares) # print [0, 4, 16]

[0, 4, 16]

You can similarly turn lists into dictionaries or sets

In [42]:
square_dict = {x : x * x for x in range(5)}
print(square_dict) # print {0:0, 1:1, 2:4, 3:9, 4:16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [44]:
square_set = {x*x for x in [1, -1]}
print(square_set) # print 1

{1}

If you don't need the value from the list, it's conventional to use an underscore as the variable

In [56]:
zeros = [0 for _ in even_numbers]
print(zeros)

[0, 0, 0]

In [57]:
pairs = [(x, y) for x in range(10) for y in range(10)]

In [61]:
increasing_pairs = [(x, y) for x in range(10) for y in range(x, 10)]

In [64]:
def lazy_range(n):
    """a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

In [74]:
a = (1, 2)

In [75]:
lst = list(a)
lst
a

(1, 2)

In [76]:
for i in a:
    print(i)

1
2

## Randomness

In [79]:
import random

a = random.random() # create a random value between [0, 1]

## Enumerate

We can use enumerate to produce tuples (index, element)

In [81]:
for i, document in enumerate([0, 1, 4]):
    print(i, document)

0 0
1 1
2 4